#name, #apellido, #email {
        width: 856px;
        padding: 13px;
        text-align:start;
       font-size:18px;
    }

    #m-chx {
    margin-left: 100px;
    margin-bottom: 30px;
}
textarea{
    width: 856px;
    padding: 13px;
    font-size: 18px;
    height: 100px;
    margin-left: 31px;
}

#inputsss{
    margin-top: 10px;
    margin-left: 100px;
}
iframe{
    margin-left: 400px;
    width: 800px;
}