
#name, #apellido, #email {
    height: 38px;
        width: 400px;
        padding: 13px;
        text-align:start;
       font-size:18px;
    }

   
textarea{
    width: 400px;
    padding: 13px;
    font-size: 18px;
    height: 80px;

}

.inputsss{
    margin-top: 10px;
}

#google-maps{
    height:450px;
    border: 0;
}