.botones-fot{
    color: white;
    background-color: rosybrown;
    border: solid 1px white;
}

#b-face:hover{
    background-color:white;
    color: rosybrown;
    height: 40px;
    width: 40px;
    transition: 1s;
}
#b-goog:hover{
    background-color:white;
    color: rosybrown;
    height: 40px;
    width: 40px;
    transition: 1s;
}
#b-inst:hover{
    background-color:white;
    color: rosybrown;
    height: 40px;
    width: 40px;
    transition: 1s;
}
#b-link:hover{
    background-color:white;
    color: rosybrown;
    height: 40px;
    width: 40px;
    transition: 1s;
}




.backfoot{
    background-image: url(../img/header2.png);
}