.letras-index{
    font-size: map-get($tamaniosLetras , xs );
}

.ancores{
  
  text-decoration: none;  
  color:rosybrown ;
 
}
.ancores:hover{
  color: rosybrown;
text-decoration: underline;
font-size: 23px;
}
